<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-09-21-groovy-on-the-go.markdown</string>
		</array>
		<array>
			<string>2013-09-21-setupqzoneforoctopress.markdown</string>
		</array>
		<array>
			<string>2013-09-21-stuffofdictionary.markdown</string>
		</array>
		<array>
			<string>2013-09-24-measurearea.markdown</string>
		</array>
		<array>
			<string>2013-09-27-androidintentapplication.markdown</string>
		</array>
		<array>
			<string>2013-10-03-bestissimple.markdown</string>
		</array>
		<array>
			<string>2013-12-15-transparentinternet.markdown</string>
		</array>
		<array>
			<string>2014-02-08-learningpython.markdown</string>
		</array>
		<array>
			<string>2014-02-08-rocking-rasperry-pi.markdown</string>
		</array>
		<array>
			<string>2014-04-26-kicking-the-ffmpeg.markdown</string>
		</array>
		<array>
			<string>2014-08-14-Cycling-to-the-sky.md</string>
		</array>
		<array>
			<string>2014-08-24-ColnectFindingMarketingGuyInChina.md</string>
		</array>
		<array>
			<string>2015-06-18-blockchain.md</string>
		</array>
		<array>
			<string>2015-06-18-rankun-fonts.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Podcasts</string>
</dict>
</plist>
